.login_container {
  display: grid;
  grid-template-columns: 320px 1fr;
  margin-top: 40px;
}

.login_container > a {
  margin-top: 40px;
  font-weight: 600;
  padding: 12px;
  border: 1px solid #121214;
  border-radius: 7px;
  background-color: #302B33;
}

.test > span {
  display: block;
  text-align: start;
  font-size: .85rem;
  line-height: 1;
  margin-bottom: 4px;
  color: #a3a3a3;
}

.test button,
.test > a {
  width: 100%;
  text-align: center;
  background-color: #302B33;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #121214;
  font-weight: 500;
  transition: border .3s;
}

.test button:hover,
.test a:hover {
  border: 1px solid #a3a3a3;
  cursor: pointer;
}

.test button:hover,
.test a:hover {
  color: #FFA700;
}

.login {
  display: grid;
  justify-content: center;
}

.login form {
  width: 400px;
}

.login a:hover {
  filter: brightness(1.2);
}

@media (max-width: 768px) {
  .login_container {
    grid-template-columns: 1fr;
  }

  .test {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .test h2,
  .test span {
    text-align: center;
    grid-column: 1/-1;
  }
}

@media (max-width: 564px) {

  .login_container {
    justify-items: center;
    margin-top: 20px;
  }

  .test {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .login form {
    max-width: 340px;
  }
}


@media (max-width: 375px) {

  .login form {
    width: 280px;
  }
}
