.login_container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 40px;
}

.test div {
  display: grid;
  background-color: #302B33;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 7px;
} 

.test div span:first-of-type {
  font-weight: 600;
  text-transform: uppercase;
}

.login {
  display: grid;
  justify-content: center;
}

.login form {
  width: 400px;
}

.login a:hover {
  filter: brightness(1.2);
}