.student_menu_container ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.student_menu_container li {
  padding: 8px;
  border-radius: 7px;
  background-color: #302B33;  
}

.student_menu_container li:hover {
  background-color: #464149;
}

.student_menu_container .active,
.student_menu_container li:hover.active {
  font-weight: 600;
  color: #302B33;
  background-color: #FFA700;
}


.student_lessons_list {
  padding: 20px;
  border-radius: 7px;
  background-color: #302B33;  
}

.student_lessons_list ul {
  height: 540px;
  background-color: #121214;
}

.student_lessons_list > div {
  padding-bottom: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.student_lessons_list > div,
.student_lessons_list ul li a {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.student_lessons > a {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px;
  background-color: #1E1C1F;
}

.student_lesson {
  display: grid;
  justify-items: center;
}

.student_lesson form {
  width: 800px;
}

.student_lesson p {
  margin-bottom: 40px;
}

.student_lesson iframe {
  margin-bottom: 80px;
  border: none;
}

.student_info_dashboard {
  display: grid;
  grid-template-columns: auto auto 300px 1fr;
  justify-content: start;
  gap: 20px;
}

.student_info_level {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  background-color: #302B33;

  grid-row: 1/3;
}

.student_info_level div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.student_info_level span:first-child,
.student_info_donelessons span:first-child, 
.student_info_todolessons span:first-child {
  text-align: center;
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
}

.student_info_donelessons, 
.student_info_todolessons,
.student_info_data,
.student_info_messages {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  background-color: #302B33;
}

.student_info_donelessons {
  grid-column: 2;
  grid-row: 1;
}

.student_info_todolessons {
  grid-column: 2;
  grid-row: 2;
}

.student_info_data {
  text-align: start;
  grid-column: 3;
  grid-row: 1/3;
}

.student_info_messages {
  grid-column: 4;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.student_info_data span:first-child {
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.student_info_data span {
  font-size: 1.2rem;
}

.student_info_historic_container {
  margin-top: 40px;
}

.student_info_historic_list {
  border: 1px solid #302B33;
  border-radius: 7px ;
}

.student_info_historic_list > div span:nth-of-type(n + 2) {
  text-align: center;
}

.student_info_historic_list div:nth-of-type(1) {
  border-radius: 7px 7px 0 0 ;
  background-color: #302B33;
}

.student_info_historic_list > div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 6px;
}

.student_info_historic_list > div:nth-of-type(n + 2) {
  border-bottom: 1px solid #302B33;
}