.handlegroup > div {
  display: grid;
  grid-template-columns: 1fr auto;
}

.handlegroup > div button {
  font-weight: 600;
}

.handlegroup form {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.handlegroup .togglets {
  display: flex;
  cursor: pointer;
  fill: #FFA700;
}