.handlegroup > div {
  display: grid;
  grid-template-columns: 1fr auto;
}

.handlegroup > div button {
  font-weight: 600;
}

.handlegroup form {
  height: 600px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.handlegroup_students {
  height: 90%;
  padding: 12px;
  border-radius: 7px;
  background-color: #121214; 
  overflow-y: scroll;
}

.handlegroup_students > div {
  display: flex;
  gap: 10px;
}