.container {
  background-color: #202024;
  padding: 20px;
  border-radius: 7px;
}

.info span:first-of-type {
  color :#a3a3a3;
}

.info span:last-of-type {
  display: initial !Important;
  color: #FFFFFF;
}