.createlesson form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}


.createlesson .question_container {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px;
  border-radius: 7px;
  background-color: #302B33;
}

.createlesson .question > div {
  display: flex;
  gap: 10px;
}

.createlesson_groups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 12px;
  background-color: #121214; 
}

.createlesson_groups > div {
  display: flex;
  gap: 4px;
}

.createlesson .newquestion {
  margin-bottom: 40px;
  color: #FFA700;
  background-color: #302B33;
}