.container > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr auto;
}

.container > div button {
  font-weight: 600;
}

.options {
  padding: 20px;
  border-radius: 7px;
  background-color: #202024;
}

.filteroptions {
  margin-bottom: 12px;
  fill: #FFA700
}

.filteroptions > div:first-of-type {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option {
  display: flex;
  gap: 10px;
}

.listoptions {
  height: 200px;
  padding: 8px;
  border-radius: 7px;
  background-color: #121214;
  overflow-y: scroll;
}