.modal_container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .9);
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
}

@media(max-width: 768px) {
  .modal_content {
    padding: 10px;
  }
}
