  /* Componente Panel */

.panel {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: start;
}

/* Component Sidebar */

.sidebar {
  padding: 10px;
  border: 1px solid #302B33;
  border-radius: 7px;
  background: linear-gradient(#302B33, #2B2F33);
}

.sidebar li {
  border-radius: 7px;
}

.sidebar li:hover {
  background-color: #464149;
}

.sidebar li a,
.sidebar li button {
  text-align: start;
  padding: 10px;
  width: 100%;
}

/* Componente Dashboard */

.dashboard_container {
  display: flex;
  align-items: start;
  gap: 10px;

}

.dashboard_container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
  border: 1px solid #302B33;
  border-radius: 7px;
  background: linear-gradient(#302B33, #2B2F33);
}

/* Componente Users, Classes e Lessons*/

.users_container,
.subjects_container,
.groups_container,
.lessons_container {
  display: grid;
  align-content: start;
  gap: 10px;
}

.users,
.subjects,
.groups,
.lessons {
  display: grid;
  border-radius: 7px;
  background-color: #302B33;  
}

.users_options,
.subjects_options,
.groups_options,
.lessons_options {
  display: grid;
}

.users_options button,
.subjects_options button,
.groups_options button,
.lessons_options a {
  justify-self: start;
  padding: 8px;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #302B33; 
}

.users_options button:hover,
.subjects_options button:hover,
.groups_options button:hover,
.lessons_options a:hover {
  background-color: #464149;
}

.users div,
.subjects div,
.groups div,
.lessons div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  padding: 6px;
}

.lessons div,
.users div {
  grid-template-columns: repeat(6, 1fr);
}

.users div + div,
.subjects div + div,
.groups div + div,
.lessons div + div {
  border-top: 1px solid #121214;
}

.user button,
.subjects button,
.groups button,
.lesson button {
  padding: 8px;
  border-radius: 7px;
}

.user button:hover,
.subjects button:hover,
.groups button:hover,
.lesson button:hover {
  background-color: #464149;
}

/* Componente Newclass */
.newgroup form {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.newgroup_students {
  height: 90%;
  padding: 12px;
  border-radius: 7px;
  background-color: #121214; 
  overflow-y: scroll;
}

.newgroup_students > div {
  display: flex;
  gap: 10px;
}

/* Componente CreateLesson */

.createlesson form {
  width: 100%;
}

.createlesson textarea {
  width: 100%;
  min-height: 200px;
  height: max-content;
}

.createlesson .question {
  margin-top: 40px;
  margin-bottom: 40px;
}

.createlesson .needevaluation {
  display: flex;
  gap: 10px;
}

.createlesson_groups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 12px;
  background-color: #121214; 
}

.createlesson_groups > div {
  display: flex;
  gap: 4px;
}


/* Componente Preferences */
.preferences {
  display: grid;
  place-content: start;
}

.preferences_defaultpassword {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 7px;
  background-color: #302B33; 
  text-align: center;
}

.preferences_defaultpassword span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 700;
}

.preferences_defaultpassword button {
  padding: 6px;
  margin-top: 8px;
  border-radius: 7px;
  font-weight: 600;
  color: #302B33;
  background-color: #FFA700;
}

.preferences_defaultpassword button:hover {
  filter: brightness(1.2);
}