.panel {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: start;
}

.container {
  display: grid;
  align-content: start;
  gap: 10px;
}

.info {
  display: grid;
  border-radius: 7px;
  background-color: #302B33;  
}

.options {
  display: grid;
}

.options button,
.options a {
  justify-self: start;
  padding: 8px;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #302B33; 
}

.options button:hover,
.options a:hover {
  background-color: #464149;
}

.info div + div {
  border-top: 1px solid #121214;
}

.info button svg,
.info a svg {
  border-radius: 7px;
  fill: #E4E4E5;
}

.info button svg:hover,
.info a svg:hover {
  border-radius: 7px;
  fill: #302B33;
  background-color: #FFA700;
}

.info div {
  display: grid;
  place-items: center;
  height: 46px;
}

.subjects div,
.groups div {
  grid-template-columns: repeat(5, 1fr);
}

.lessons div {
  grid-template-columns: repeat(6, 1fr);
}

.users div,
.lessons div {
  grid-template-columns: 2fr 2fr repeat(4, 1fr);
}

.evaluate div {
  grid-template-columns: 2fr repeat(4, 1fr);
}