.message {
  text-align: center;
  padding: 12px;
  border-radius: 7px;
  background-color: #302B33;
}

.message button {
  font-weight: 700;
  border-radius: 7px;
  padding: 8px;
}

.message button:hover {
  filter: brightness(1.1);
}

.message button:first-of-type {
  margin-right: 12px;
  margin-top: 12px;
  color: #121214;
  background-color: red;
}

.message button:last-of-type {
  background-color: #464149;
}